<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">No estás solo</h2>
                <hr class="light">
                <p class="text-faded">OriginMasters es una comunidad creada por y para Web Developers de pequeñas y medianas empresas. No hacemos grandes obras de ingeniería, pero nos gusta hacer las cosas bien y queremos aprender a hacerlas aun mejor.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">¿Cómo funciona?</a>
            </div>
        </div>
    </div>
</section>
